{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Вход в личный кабинет{% endblock %}

{% block content %}
<body>
    <div class="login-container">
        <h2>Вход в личный кабинет</h2>
        <form action="your-login-endpoint" method="POST">
            <input type="tel" name="phone" placeholder="Номер телефона" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрироваться</a></p>
    </div>
    <footer>
        <p>&copy; 2024 L-cars</p>
    </footer>
</body>


<style>
    header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Устанавливаем выше других слоев */
    }
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .login-container {
        background: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    button:hover {
        background-color: #0056b3;
    }
    footer {
    font-weight: bold;
    background: #8a8989;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    }
</style>

{% endblock %}