{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
    <h1>Регистрация</h1>

    <form method="post" action="{% url 'signup' %}" onsubmit="return validateForm()">
        {% csrf_token %}

        <div>
            <label for="full_name">ФИО:</label>
            <input type="text" id="full_name" name="name" required>
        </div>

        <div>
            <label for="phone_number">Номер телефона:</label>
            <input type="tel" id="phone_number" name="phone_number" required>
        </div>

        <div>
            <label for="age">Возраст:</label>
            <input type="number" id="age" name="years" min="1" max="120" required>
        </div>

        <button type="submit">Зарегистрироваться</button>
    </form>

<script>
    function validateForm() {
        var phoneInput = document.getElementById('phone_number').value;
        var fullNameInput = document.getElementById('full_name').value;
        var ageInput = document.getElementById('age').value;

        var phonePattern = /^89\d{9}$/;
        var namePattern = /^[А-Яа-яЁё\s-]+$/; // Русские буквы, пробел и дефис

        if (!phonePattern.test(phoneInput)) {
            alert("Введите номер телефона в формате 8-9...");
            return false;
        }

        if (!namePattern.test(fullNameInput)) {
            alert("Неправильный формат ФИО");
            return false;
        }

        if (!/^\d{2}$/.test(ageInput)) {
            alert("Неправильный формат Возраста");
            return false;
        }

        return true;
    }
</script>


<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    form {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: 0 auto;
    }

    label {
        display: block;
        margin-bottom: 5px;
        color: #555;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>
{% endblock %}